<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="/js/jquery-sortable.js"></script>
<script>
    window.onerror = function (message, file, line, col, error) {
        toastr.error(error.message, "Error occurred");
        setTimeout(function () {
            toastr.info("Please wait a moment while we repair.\n Please Relax", "Info");
            ajaxDelete("/<%- routeName %>/grid",{},function (data) {
                toastr.info("Please refresh / reload your browser.\n ", "Info");
            });
        }, 2500);
        setTimeout(function () {
            toastr.clear();
            window.location.href = '/<%- routeName %>';
        }, 4500);
        return false;
    };
    $(function () {
        $(".jsgrid-filter-row td").each(function () {
            $(this).find("input[type=text]").addClass("form-control form-control-sm").attr("placeholder", "search..");
            $(this).find("input[type=number]").addClass("form-control form-control-sm").attr("placeholder", "search..");
            $(this).find("select").addClass("form-control form-control-sm");
        })
    });
    var gridSettings = <%- JSON.stringify(gridFilters) %>;
    var isSave = false;
    var gridFields = {
        no: {name: "no", title: '<%- attributeData.labels['no'] %>', width: 20},
        
		id: {name: 'id', title: '<%- attributeData.labels['id'] %>', type: 'text', width: 90},
		layout: {name: 'layout', title: '<%- attributeData.labels['layout'] %>', type: 'text', width: 90},
		json: {name: 'json', title: '<%- attributeData.labels['json'] %>', type: 'text', width: 90},
		frameworkcss: {name: 'frameworkcss', title: '<%- attributeData.labels['frameworkcss'] %>', type: 'text', width: 90},
		createdBy: {name: 'createdBy', title: '<%- attributeData.labels['createdBy'] %>', type: 'select', items:  <%- JSON.stringify(relations.createdByRow)  %>, valueField: '<%- relations.createdBy[0]  %>',textField: '<%- relations.createdBy[1]  %>', width: 90},
		createdAt: {name: 'createdAt', title: '<%- attributeData.labels['createdAt'] %>',itemTemplate: function (value) {return value ? value == '0000-00-00 00:00:00' ? '' : moment(value).format('YYYY-MM-DD HH:mm:ss') : '';}, type: 'text', width: 90},

        actionColumn: {
            type: "control", name: "actionColumn", width: 90, editButton: false,
            itemTemplate: function (value, item) {
                var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
                var $customViewButton = $("<button>").attr({class: "btn btn-info btn-xs"}).html("<span class='glyphicon glyphicon-eye-open'></span>").click(function (e) {
                    location.href = "/<%- routeName %>/view/" + item.id;
                    e.stopPropagation();
                });
                var $customEditButton = $("<button>").attr({class: "btn btn-success btn-xs"}).html("<span class='glyphicon glyphicon-pencil'></span>").click(function (e) {
                    location.href = "/<%- routeName %>/update/" + item.id;
                    e.stopPropagation();
                });
                var $customDeleteButton = $("<button>").attr({class: "btn btn-danger btn-xs"}).html("<span class='glyphicon glyphicon-trash'></span>").click(function (e) {
                    if (window.confirm("<%- LANGUAGE['delete_confirm']%>")) {
                        ajaxDelete("/<%- routeName %>/delete",{id: item.id}, function (data) {
                            if (data.status == 0) {
                                toastr.error(data.message, data.title);
                            } else {
                                $("#jsGrid").jsGrid("loadData");
                                toastr.success(data.message, data.title);
                            }
                        });
                    }
                    e.stopPropagation();
                });
                var div = $("<div>");

                <% if(levels.view){ %>div.append($customViewButton).append("   ");<% } %>
                <% if(levels.update){ %>div.append($customEditButton).append("   ");<% } %>
                <% if(levels.delete) { %>div.append($customDeleteButton).append("   ");<% } %>
                return div;
            }
        }
    };
    function fixGrid() {
        var arr = [];
        var visibles = <%- JSON.stringify(visibles) %>;
        for (var i = 0; i < visibles.length; i++) {
            if(gridFields.hasOwnProperty(visibles[i])){
                arr.push(gridFields[visibles[i]]);
            }
        }
        return arr;
    }
    function saveGrid(filter,url){
        $.ajax({
            url:url,
            type:"POST",
            data:filter
        })
    }
    var jsFilter = "";
    $("#jsGrid").jsGrid({
        width: "100%",
        filtering: true,
        inserting: false,
        editing: false,
        sorting: true,
        autoload: true,
        paging: true,
        pageLoading: true,
        css: "kv-grid-table table table-bordered table-striped kv-table-wrap",
        pageIndex : parseInt(gridSettings.pageIndex) || 1,
        pageSize: $("#pageSize").val(),
        pageButtonCount: 15,
        deleteConfirm: "<%- LANGUAGE['delete_confirm']%>",
        controller: {
            loadData: function (filter) {
                var d = $.Deferred();
                if(!isSave){
                    if(gridSettings.hasOwnProperty("pageIndex")){
                        filter = gridSettings;
                    }
                }
                return $.ajax({
                    datatype: "json",
                    type: "GET",
                    url: "/<%- routeName %>/list",
                    data: filter,
                    success: function (html) {
                        var pi = filter.pageIndex;
                        var ps = filter.pageSize;
                        var showing = "Showing <b>";
                        var pis = (pi * ps);
                        var i = ((pi - 1) * ps) + 1;
                        if (pis > html.itemsCount) pis = html.itemsCount;
                        showing += i + " - " + pis;
                        showing += "</b> of " + html.itemsCount;
                        $(".summary").html(showing);
                        $(".jsgrid-pager-container").addClass("paginaton");
                        jsFilter = filter;
                        if(isSave){
                            saveGrid(filter,"/<%- routeName %>/save");
                        }
                    }
                }).done(function (result) {
                    d.resolve($.map(result.data, function (item, itemIndex) {
                        var factor = filter.pageSize * (filter.pageIndex - 1);
                        return $.extend(item, {"no": (itemIndex + 1) + factor});
                    }));
                });
            },
            updateItem: function(item) {
                item.table = "<%- routeName %>";
                item.model = "updateGrid";
                return ajaxPost("/ajax",item,function (data) {
                    $("#jsGrid").jsGrid("loadData");
                });
            }
        },
        fields: fixGrid(),
    });
    $(".export-xls").on("click", function () {
        location.href = "/<%- routeName %>/excel?" + jQuery.param(jsFilter);
    });
    $("#backupExcel").on("click", function () {
        location.href = "/<%- routeName %>/excel-query?" + jQuery.param(jsFilter);
    });
    $("#pageSize").on("change", function () {
        $("#jsGrid").jsGrid("option", "pageSize", $(this).val());
        // sorting grid by myField in ascending order
        if(jsFilter.hasOwnProperty("sortField")){
            $("#jsGrid").jsGrid("sort", jsFilter.sortField, jsFilter.sortOrder).done(function() {
                console.log("sorting completed");
            });
        }
    });
    var group = $("ul.gridsortable").sortable({
        group: 'gridsortable',
        isValidTarget: function ($item, container) {
            if ($item.is(".disabled"))
                return false;
            else
                return true;
        },
        onDrop: function ($item, container, _super) {
            var getidname = $item.parents().attr('id');
            if (getidname == "gridleft") {
                $item.find('span').addClass('fa-eye').removeClass('fa-eye-slash')
            } else {
                $item.find('span').addClass('fa-eye-slash').removeClass('fa-eye')
            }
            _super($item, container);
        }
    });
    $(".grid-submit").on("click", function () {
        var leftvalue = [];
        $("#gridleft li").each(function (i) {

            var dataname = $(this).attr('data-name');
            if (dataname != '') {
                leftvalue.push(dataname);
            }
        });
        $('#serialize_left').val(JSON.stringify(leftvalue));

        var rightvalue = [];

        $("#gridright li").each(function (i) {
            var dataname = $(this).attr('data-name');
            if (dataname != '') {
                rightvalue.push(dataname);
            }
        });
        $('#serialize_right').val(JSON.stringify(rightvalue));
        $("#form-grid").submit();
    });
    $(".grid-reset").on("click", function(){
        ajaxDelete("/<%- routeName %>/grid",{},function (data) {
            if (data.status == 0) {
                toastr.error(data.message, data.title);
            } else {
                $("#jsGrid").jsGrid("loadData");
                toastr.success(data.message, data.title);
            }
            location.href = '';
        });
    });
    $(".label-reset").on("click", function(){
        ajaxDelete("/<%- routeName %>/labels",{},function (data) {
            if (data.status == 0) {
                toastr.error(data.message, data.title);
            } else {
                $("#jsGrid").jsGrid("loadData");
                toastr.success(data.message, data.title);
            }
            location.href = '';
        });
    });
    $(".labels-submit").on("click", function () {
        $("#form-labels").submit();
    });
    $("#reloadgrid").on("click", function (e) {
        e.preventDefault();
        ajaxPost("/<%- routeName%>/reload",{}, function (data) {
            location.href="/<%- routeName%>";
        });
    });

    submitForm('form-grid', '', '/<%- routeName %>');
    submitForm('form-labels', '', '/<%- routeName %>');
    $(function () {
        if(gridSettings.hasOwnProperty("pageSize")){
            $("#pageSize").val(gridSettings.pageSize)
        }

        var gridSearchs = <%- JSON.stringify(gridSearchs)%>;
        var searchValue = $("table.jsgrid-table > tr").eq(1).find("td");
        <%- gridSearchs%>

        isSave = true;
    });
</script>