<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="sintret@gmail.com">

    <title><%= titleApp%></title>
    <meta name="description" content="<%= descriptionApp%>">

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <%- moduleHead %>
    <% if(renderHead!=""){%>
    <%- include("../"+renderHead) %>
    <%}%>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/img/cms.png">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a <%if(menuApp == "home") {%> class="btn btn-blue-green" <%}%> href="/">Home</a></li>
                <li><a <%if(menuApp == "features") {%> class="btn btn-blue-green" <%}%> href="/features">Feature</a></li>
<!--
                <li><a <%if(menuApp == "pricing") {%> class="btn btn-blue-green" <%}%> href="/pricing">Price</a></li>
-->
                <li><a <%if(menuApp == "contact") {%> class="btn btn-blue-green" <%}%> href="/contact-me">Contact Us</a></li>
                <li><a <%if(menuApp == "login") {%> class="btn btn-blue-green" <%}%> href="/login">Login</a></li>
                <li>
                    <a href="/signup" <%if(menuApp == "signup") {%> class="btn btn-blue-green" <%}%>>Register</a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<% if(renderBody!=""){%>
<%- include("../"+renderBody) %>
<%}%>
<!-- ========== FOOTER ========== -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">copyright@<%- new Date().getFullYear()%>. </p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="/js/form.js"></script>
<%- moduleEnd %>
<% if(renderEnd!=""){%>
<%- include("../"+renderEnd) %>
<%}%>
<% if(typeof sessionFlash != "undefined") { %>
<script>
    toastr.<%= sessionFlash.type %>('<%= sessionFlash.message %>','<%= sessionFlash.title %>', {timeOut: 5000});
</script>
<% } %>
</body>
</html>