<!DOCTYPE html>
<html>
<head>
    <%- include("head.ejs") %>
    <title>CRUD GENERATOR</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <!-- Bootstrap core CSS -->
    <link href="/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="/js/sortable.css">

    <!-- Material Design Bootstrap -->
    <link href="/mdb/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/mdb/css/style.css" rel="stylesheet">
</head>

<body class="grey lighten-3">

<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/dashboard">
                <strong class="blue-text"><%- menuApp%> </strong>
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul id="main-navbar" class="nav navbar-nav nav-flex-icons ml-auto ms-auto flex-row" data-loaded="dpl">

                    <div id="navbarNotification" class="d-none"><div id="navbarNotificationCounter"></div><div id="navbarNotificationContent"></div></div>

                    <li class="nav-item me-3 me-lg-0 d-none d-sm-inline-block dropdown">
                        <a class="nav-link dropdown-toggle" id="new-mdb-technologies-dropdown" role="button" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-cog"></i> Admin
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="new-mdb-technologies-dropdown">
                            <li><h5 class="dropdown-header">Admin Menu</h5></li>
                            <li><hr class="dropdown-divider"></li>

                            <li>
                                <a class="dropdown-item" href="/zgenerator">
                                    <span>Generator</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/zmenu">
                                    <span>Menu Generator</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/zreport">
                                    <span>Report Generator</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fa fa-book"></i> Docs
                        </a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link waves-effect">
                            <i class="fa fa-help"></i> Support
                        </a>
                    </li>

                    <li style="margin-top:2px;min-height:1px;min-width:1px;" id="gtmDC-nav-unlogged" data-gtm-vis-recent-on-screen-2340190_2232="2328" data-gtm-vis-first-on-screen-2340190_2232="2328" data-gtm-vis-total-visible-time-2340190_2232="100" data-gtm-vis-has-fired-2340190_2232="1" data-gtm-vis-recent-on-screen-2340190_2248="2352" data-gtm-vis-first-on-screen-2340190_2248="2352" data-gtm-vis-total-visible-time-2340190_2248="100" data-gtm-vis-has-fired-2340190_2248="1" data-gtm-vis-recent-on-screen-2340190_2267="2371" data-gtm-vis-first-on-screen-2340190_2267="2371" data-gtm-vis-total-visible-time-2340190_2267="100" data-gtm-vis-has-fired-2340190_2267="1" data-gtm-vis-recent-on-screen-2340190_2240="2381" data-gtm-vis-first-on-screen-2340190_2240="2382" data-gtm-vis-total-visible-time-2340190_2240="100" data-gtm-vis-has-fired-2340190_2240="1" data-gtm-vis-recent-on-screen-2340190_2205="2397" data-gtm-vis-first-on-screen-2340190_2205="2397" data-gtm-vis-total-visible-time-2340190_2205="100" data-gtm-vis-has-fired-2340190_2205="1" data-gtm-vis-recent-on-screen-2340190_2137="2413" data-gtm-vis-first-on-screen-2340190_2137="2413" data-gtm-vis-total-visible-time-2340190_2137="100" data-gtm-vis-has-fired-2340190_2137="1" data-gtm-vis-recent-on-screen-2340190_2132="2424" data-gtm-vis-first-on-screen-2340190_2132="2424" data-gtm-vis-total-visible-time-2340190_2132="100" data-gtm-vis-has-fired-2340190_2132="1" data-gtm-vis-recent-on-screen-2340190_2245="2442" data-gtm-vis-first-on-screen-2340190_2245="2442" data-gtm-vis-total-visible-time-2340190_2245="100" data-gtm-vis-has-fired-2340190_2245="1" data-gtm-vis-recent-on-screen-2340190_2196="2456" data-gtm-vis-first-on-screen-2340190_2196="2456" data-gtm-vis-total-visible-time-2340190_2196="100" data-gtm-vis-has-fired-2340190_2196="1" data-gtm-vis-recent-on-screen-2340190_2124="2468" data-gtm-vis-first-on-screen-2340190_2124="2468" data-gtm-vis-total-visible-time-2340190_2124="100" data-gtm-vis-has-fired-2340190_2124="1" data-gtm-vis-recent-on-screen-2340190_2229="2481" data-gtm-vis-first-on-screen-2340190_2229="2481" data-gtm-vis-total-visible-time-2340190_2229="100" data-gtm-vis-has-fired-2340190_2229="1" data-gtm-vis-recent-on-screen-2340190_2305="2494" data-gtm-vis-first-on-screen-2340190_2305="2494" data-gtm-vis-total-visible-time-2340190_2305="100" data-gtm-vis-has-fired-2340190_2305="1" data-gtm-vis-recent-on-screen-2340190_2311="2505" data-gtm-vis-first-on-screen-2340190_2311="2505" data-gtm-vis-total-visible-time-2340190_2311="100" data-gtm-vis-has-fired-2340190_2311="1" data-gtm-vis-recent-on-screen-2340190_1431="2521" data-gtm-vis-first-on-screen-2340190_1431="2521" data-gtm-vis-total-visible-time-2340190_1431="100" data-gtm-vis-has-fired-2340190_1431="1" data-gtm-vis-recent-on-screen-2340190_1890="2533" data-gtm-vis-first-on-screen-2340190_1890="2533" data-gtm-vis-total-visible-time-2340190_1890="100" data-gtm-vis-has-fired-2340190_1890="1" data-gtm-vis-recent-on-screen-2340190_1891="2549" data-gtm-vis-first-on-screen-2340190_1891="2549" data-gtm-vis-total-visible-time-2340190_1891="100" data-gtm-vis-has-fired-2340190_1891="1" data-gtm-vis-recent-on-screen-2340190_1893="2565" data-gtm-vis-first-on-screen-2340190_1893="2565" data-gtm-vis-total-visible-time-2340190_1893="100" data-gtm-vis-has-fired-2340190_1893="1" data-gtm-vis-recent-on-screen-2340190_2000="2578" data-gtm-vis-first-on-screen-2340190_2000="2578" data-gtm-vis-total-visible-time-2340190_2000="100" data-gtm-vis-has-fired-2340190_2000="1" data-gtm-vis-recent-on-screen-2340190_1892="2589" data-gtm-vis-first-on-screen-2340190_1892="2589" data-gtm-vis-total-visible-time-2340190_1892="100" data-gtm-vis-has-fired-2340190_1892="1" data-gtm-vis-recent-on-screen-2340190_2123="2600" data-gtm-vis-first-on-screen-2340190_2123="2600" data-gtm-vis-total-visible-time-2340190_2123="100" data-gtm-vis-has-fired-2340190_2123="1" data-gtm-vis-recent-on-screen-2340190_1946="2618" data-gtm-vis-first-on-screen-2340190_1946="2618" data-gtm-vis-total-visible-time-2340190_1946="100" data-gtm-vis-has-fired-2340190_1946="1" data-gtm-vis-recent-on-screen-2340190_2038="2629" data-gtm-vis-first-on-screen-2340190_2038="2629" data-gtm-vis-total-visible-time-2340190_2038="100" data-gtm-vis-has-fired-2340190_2038="1" data-gtm-vis-recent-on-screen-2340190_1947="2656" data-gtm-vis-first-on-screen-2340190_1947="2656" data-gtm-vis-total-visible-time-2340190_1947="100" data-gtm-vis-has-fired-2340190_1947="1" data-gtm-vis-recent-on-screen-2340190_2022="2677" data-gtm-vis-first-on-screen-2340190_2022="2677" data-gtm-vis-total-visible-time-2340190_2022="100" data-gtm-vis-has-fired-2340190_2022="1" data-gtm-vis-recent-on-screen-2340190_2049="2706" data-gtm-vis-first-on-screen-2340190_2049="2706" data-gtm-vis-total-visible-time-2340190_2049="100" data-gtm-vis-has-fired-2340190_2049="1" data-gtm-vis-recent-on-screen-2340190_1942="2723" data-gtm-vis-first-on-screen-2340190_1942="2723" data-gtm-vis-total-visible-time-2340190_1942="100" data-gtm-vis-has-fired-2340190_1942="1" data-gtm-vis-recent-on-screen-2340190_2103="2771" data-gtm-vis-first-on-screen-2340190_2103="2771" data-gtm-vis-total-visible-time-2340190_2103="100" data-gtm-vis-has-fired-2340190_2103="1" data-gtm-vis-recent-on-screen-2340190_2004="2785" data-gtm-vis-first-on-screen-2340190_2004="2785" data-gtm-vis-total-visible-time-2340190_2004="100" data-gtm-vis-has-fired-2340190_2004="1" data-gtm-vis-recent-on-screen-2340190_1995="2796" data-gtm-vis-first-on-screen-2340190_1995="2796" data-gtm-vis-total-visible-time-2340190_1995="100" data-gtm-vis-has-fired-2340190_1995="1" data-gtm-vis-recent-on-screen-2340190_2005="2805" data-gtm-vis-first-on-screen-2340190_2005="2805" data-gtm-vis-total-visible-time-2340190_2005="100" data-gtm-vis-has-fired-2340190_2005="1" data-gtm-vis-recent-on-screen-2340190_1948="2816" data-gtm-vis-first-on-screen-2340190_1948="2816" data-gtm-vis-total-visible-time-2340190_1948="100" data-gtm-vis-has-fired-2340190_1948="1"></li><li style="margin-top:2px;min-height:1px;min-width:1px;" id="gtmDC-login-button" data-gtm-vis-has-fired-2340190_2232="1" data-gtm-vis-has-fired-2340190_2248="1" data-gtm-vis-has-fired-2340190_2267="1" data-gtm-vis-has-fired-2340190_2240="1" data-gtm-vis-has-fired-2340190_2245="1" data-gtm-vis-has-fired-2340190_2196="1" data-gtm-vis-has-fired-2340190_2124="1" data-gtm-vis-has-fired-2340190_2229="1" data-gtm-vis-has-fired-2340190_2305="1" data-gtm-vis-has-fired-2340190_2311="1" data-gtm-vis-has-fired-2340190_1890="1" data-gtm-vis-has-fired-2340190_1891="1" data-gtm-vis-has-fired-2340190_1893="1" data-gtm-vis-has-fired-2340190_2000="1" data-gtm-vis-has-fired-2340190_1892="1" data-gtm-vis-has-fired-2340190_2123="1" data-gtm-vis-has-fired-2340190_1946="1" data-gtm-vis-has-fired-2340190_2038="1" data-gtm-vis-has-fired-2340190_1947="1" data-gtm-vis-has-fired-2340190_1942="1" data-gtm-vis-has-fired-2340190_2004="1" data-gtm-vis-has-fired-2340190_1995="1" data-gtm-vis-has-fired-2340190_2005="1" data-gtm-vis-has-fired-2340190_1948="1">
                        <a href="/zdashboard" target="_blank" class="auth-modal-toggle btn btn-sm btn-primary ripple-surface ms-2 me-1" data-auth-modal-tab="sign-in">Dashboard</a>
                    </li>

                </ul>


            </div>

        </div>
    </nav>
    <!-- Navbar -->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container-fluid">
        <!--Section: Post-->
        <% if(renderBody != ""){ %>
        <%- include("./../"+renderBody) %>
        <% } %>
    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <!--Call to action-->


    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/sintret" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/sintret" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/watch?v=sintret" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://plus.google.com/u/0/b/sintret" target="_blank">
            <i class="fab fa-google-plus-g mr-3"></i>
        </a>

        <a href="https://dribbble.com/sintret" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="https://pinterest.com/sintret" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="https://github.com/sintret" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="http://codepen.io/sintret/" target="_blank">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2022 Copyright:
        <a href="https://sintret.com" target="_blank"> App Maker </a>
    </div>
    <!--/.Copyright-->

</footer>
<div id="modalpopup"><!-- Place at bottom of page --></div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/mdb/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/mdb/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/mdb/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/mdb/js/mdb.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/js/jquery-sortable.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/form.js"></script>
<script src="/js/sortable.js"></script>


<%- moduleEnd %>
<% if(renderEnd != ""){ %>
<%- include("../"+renderEnd) %>
<% } %>


</body>
</html>