<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="usertoken" content="<%- token %>"/>
<meta name="socketUrl" content="<%- socketUrl %>"/>
<meta name="csrf-token" content="<%- csrfToken %>">
<title><%- menuApp %></title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
<%- moduleHead %>
<link rel='stylesheet' href='/css/app.css'/>
<%- renderHead ? include("../"+renderHead) : "" %>
