<%- UI.Form.breadcrumb(frameworkcss, [{text: LANGUAGE['home'], href:"/dashboard"}, {text: LANGUAGE['grid_list'], href:"/"+routeName}, {text: LANGUAGE['update'], href : '/' + routeName+'/update/'+data.id}, {text: LANGUAGE['create'], href : '/'+routeName+'/create'}, {text: LANGUAGE['view'], active : true}]) %>

<div class="page-header">
    <h2>View <%- menuApp %> <%= data.id %></h2>
</div>

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="btn-group <%- UI.Form.pullRight(frameworkcss)%>" role="group" aria-label="button">
            <% if(levels.update){ %>
            <a class="btn btn-info" href="/<%- routeName%>/update/<%= data.id  %>"
               title="Update data"><i class="fa fa-pencil"></i> <%- LANGUAGE['update']%>
            </a> &nbsp;
            <% } %>
            <% if(levels.delete){ %>
            <button class="btn btn-danger" id="<%- routeName %>-delete" data-id="<%= data.id %>"
                    title="Delete Data"><i class="fa fa-trash"></i> <%- LANGUAGE['delete'] %>
            </button> &nbsp;

            <% } %>
            <% if(levels.create){ %>
            <a class="btn btn-success" href="/<%- routeName%>/create" title="Create data"><i class="fa fa-plus"></i>
                <%- LANGUAGE['create']%>
            </a>
            <% } %>

        </div>
    </div>
</div>

<script>
    document.getElementById("<%- routeName %>-delete").addEventListener("click", deleteData);
    function deleteData() {
        if (window.confirm("<%- LANGUAGE['delete_confirm'] %>")) {
            var http = new XMLHttpRequest();
            var url = '/<%- routeName %>/delete';
            var params = 'id=<%- data.id%>';
            http.open('DELETE', url, true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            http.onreadystatechange = function () {//Call a function when the state changes.
                if (http.readyState == 4 && http.status == 200) {
                    location.href = "/<%- routeName%>"
                }
            }
            http.send(params);
        }
    }
</script>
<p>&nbsp;</p>
<div class="boxy">
<table class="table table-striped"><tbody>
			<tr>
				<th class="can-copy"   data-name="{table}"><%- attributeData.labels.table %></th>
				<td  class="can-copy" ><%- data.table %></td>
				<th class="can-copy"  data-name="{left}"><%- attributeData.labels.left %></th>
				<td class="can-copy"   ><%- data.left %></td>
			</tr>
			<tr>
				<th class="can-copy"   data-name="{route}"><%- attributeData.labels.route %></th>
				<td  class="can-copy" ><%- data.route %></td>
				<th class="can-copy"  data-name="{right}"><%- attributeData.labels.right %></th>
				<td class="can-copy"   ><%- data.right %></td>
			</tr>
			<tr>
				<th class="can-copy"   data-name="{name}"><%- attributeData.labels.name %></th>
				<td  class="can-copy" ><%- data.name %></td>
				<th class="can-copy"  data-name="{before_list}"><%- attributeData.labels.before_list %></th>
				<td class="can-copy"   ><%- data.before_list %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{zapprovals}"><%- attributeData.labels.zapprovals %></th>
				<td class="can-copy"    colspan="3" ><%- data.zapprovals %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{hardcode_grid}"><%- attributeData.labels.hardcode_grid %></th>
				<td class="can-copy"    colspan="3" ><%- data.hardcode_grid %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{javascript_form}"><%- attributeData.labels.javascript_form %></th>
				<td class="can-copy"    colspan="3" ><%- data.javascript_form %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{before_delete}"><%- attributeData.labels.before_delete %></th>
				<td class="can-copy"    colspan="3" ><%- data.before_delete %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{properties}"><%- attributeData.labels.properties %></th>
				<td class="can-copy"    colspan="3" ><%- data.properties %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{before_update}"><%- attributeData.labels.before_update %></th>
				<td class="can-copy"    colspan="3" ><%- data.before_update %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{before_create}"><%- attributeData.labels.before_create %></th>
				<td class="can-copy"    colspan="3" ><%- data.before_create %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{labels}"><%- attributeData.labels.labels %></th>
				<td class="can-copy"    colspan="3" ><%- data.labels %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{one_column}"><%- attributeData.labels.one_column %></th>
				<td class="can-copy"    colspan="3" ><%- data.one_column %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{sorting}"><%- attributeData.labels.sorting %></th>
				<td class="can-copy"    colspan="3" ><%- data.sorting %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{tabs}"><%- attributeData.labels.tabs %></th>
				<td class="can-copy"    colspan="3" ><%- data.tabs %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{details}"><%- attributeData.labels.details %></th>
				<td class="can-copy"    colspan="3" ><%- data.details %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{after_create}"><%- attributeData.labels.after_create %></th>
				<td class="can-copy"    colspan="3" ><%- data.after_create %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{after_update}"><%- attributeData.labels.after_update %></th>
				<td class="can-copy"    colspan="3" ><%- data.after_update %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{after_delete}"><%- attributeData.labels.after_delete %></th>
				<td class="can-copy"    colspan="3" ><%- data.after_delete %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{javascript_grid}"><%- attributeData.labels.javascript_grid %></th>
				<td class="can-copy"    colspan="3" ><%- data.javascript_grid %></td>
			</tr>
			<tr>
				<th class="can-copy"  data-name="{approval_content}"><%- attributeData.labels.approval_content %></th>
				<td class="can-copy"    colspan="3" ><%- data.approval_content %></td>
			</tr>
</tbody></table>
</div>
