<form id="form-group" method="post" action="" class="boxy" enctype="multipart/form-data" [[[NO_VALI_DATE_NOVALIDATE]]]  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="page-header">

    </div>

	<div class="row">
		<div class="col-md-6">
			<%- UI.Form.group("client_pc_id", zForms.label["client_pc_id"], zForms.fn("client_pc_id",{tabindex:1})); %>
			<%- UI.Form.group("name", zForms.label["name"], zForms.fn("name",{tabindex:4})); %>
			<%- UI.Form.group("version", zForms.label["version"], zForms.fn("version",{tabindex:3})); %>
		</div>
		<div class="col-md-6">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>


    <div class="row">
        <div class="col-md-12">
            <br>
            <%- UI.Form.submit() %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            <p class="text-muted"><strong>*</strong> <%- LANGUAGE['required_not_empty'] %></p>
        </div>
    </div>

</form>