<form id="form-group" method="post" action="" class="boxy" enctype="multipart/form-data" [[[NO_VALI_DATE_NOVALIDATE]]]  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="page-header">

    </div>

	<div class="row">
		<div class="col-md-6">
			<%- UI.Form.group("title", zForms.label["title"], zForms.fn("title",{tabindex:1})); %>
			<%- UI.Form.group("description", zForms.label["description"], zForms.fn("description",{tabindex:2})); %>
			<%- UI.Form.group("status", zForms.label["status"], zForms.fn("status",{tabindex:5})); %>
			<%- UI.Form.group("status_label", zForms.label["status_label"], zForms.fn("status_label",{tabindex:6})); %>
		</div>
		<div class="col-md-6">
			<%- UI.Form.group("user_id", zForms.label["user_id"], zForms.fn("user_id",{tabindex:4})); %>
			<%- UI.Form.group("id_data", zForms.label["id_data"], zForms.fn("id_data",{tabindex:9})); %>
			<%- UI.Form.group("table", zForms.label["table"], zForms.fn("table",{tabindex:3})); %>
			<%- UI.Form.group("link", zForms.label["link"], zForms.fn("link",{tabindex:7})); %>
			<%- UI.Form.group("token", zForms.label["token"], zForms.fn("token",{tabindex:8})); %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>


    <div class="row">
        <div class="col-md-12">
            <br>
            <%- UI.Form.submit() %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            <p class="text-muted"><strong>*</strong> <%- LANGUAGE['required_not_empty'] %></p>
        </div>
    </div>

</form>