<form id="form-group" method="post" action="" class="boxy" enctype="multipart/form-data" [[[NO_VALI_DATE_NOVALIDATE]]]  >
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="page-header">

    </div>

	<div class="row">
		<div class="col-md-6">
			<%- UI.Form.group("code", zForms.label["code"], zForms.fn("code",{tabindex:2})); %>
			<%- UI.Form.group("name", zForms.label["name"], zForms.fn("name",{tabindex:2})); %>
			<%- UI.Form.group("address", zForms.label["address"], zForms.fn("address",{tabindex:8})); %>
			<%- UI.Form.group("phone", zForms.label["phone"], zForms.fn("phone",{tabindex:2})); %>
		</div>
		<div class="col-md-6">
			<%- UI.Form.group("logo", zForms.label["logo"], zForms.fn("logo",{tabindex:11})); %>
			<%- UI.Form.group("director", zForms.label["director"], zForms.fn("director",{tabindex:2})); %>
			<%- UI.Form.group("note", zForms.label["note"], zForms.fn("note",{tabindex:8})); %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>


    <div class="row">
        <div class="col-md-12">
            <br>
            <%- UI.Form.submit() %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <br>
            <p class="text-muted"><strong>*</strong> <%- LANGUAGE['required_not_empty'] %></p>
        </div>
    </div>

</form>